*{
    margin: 0;
}

/* Styling for the 'newcontent' class */
.newcontent{
    display: flex;
    color: rgb(255, 255, 255);
    background-image: url("Images/ComedyBg.jpg");
    background-color: rgb(255, 255, 255,.5);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;

}

/* Styling for h1 headings */
h1{
    font-size: 70px;
    margin-top: 200px;
    margin-left: 50px;
}

/* Styling for the 'Description' section */
.Description{
    font-size: large;
    font-weight: bold;
    margin-top: 180px;
    text-align: right;
    margin-left: 800px;
    margin-right: 100px;
    margin-bottom: 100px;
}

/* Styling for the 'keyfeatures' section */
.keyfeatures{
    text-align: left;
    margin-left: 40px;
    margin-right: 50px;
  
}

/* Styling for the 'Description2' section */
.Description2{
    font-size: large;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-image: url("Images/Humorist.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;
    
}

/* Styling for h2 headings */
h2{
    font-size: 25px;
}

/* Styling for text inside the '.text' class */
.text{
    margin-left: 10px;
    margin-right: 250px;
    text-align: left;
    font-size: 20px;
}

/* Styling for list items */
li{
    list-style: disc;
}

/* Styling for the 'mediums' section */
.mediums{
    margin-top: 100px;
    text-align: right;
    margin-right: 60px;
    font-weight: bold;
}

/* Styling for the 'Description3' section */
.Description3{
    display: flex;
}

/* Styling for images inside the '.Description3' section */
.Description3 img{
    margin-left: 50px;
    height: 10%;
    width: 30%;
}

/* Styling for the 'stand' class */
.stand{
    display: block;
}

/* Styling for the 'medium' class */
.medium{
    text-align: left;
    margin-left: 100px;
    margin-right: -20px;
    font-size: 20px;
}