*{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* giving font style and size t the all the pages */
body{
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}