*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #161616;
}


/* Styling for the header element */
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
}

/* Styling for the h4 element inside the header */
header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/*splash screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

/* Styling for the logo header section in the splash screen */
.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Styling for the logo element inside the logo header */
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}

/* Styling for the logo element when it is active and fading in */
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

/* Styling for the logo element when it is fading out */
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}